.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: #fff;

    &.primary {
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
    &.danger {
      border: 1px solid var(--color-danger);
      color: var(--color-danger);
    }
    &.neutral {
      border: 1px solid var(--color-neutral-600);
      color: var(--color-neutral-600);
    }
  }

  &.raised {
    color: #FFF;
    
    &.primary {
      background: var(--color-primary);
    }
    &.danger {
      background: var(--color-danger);
    }
    &.neutral {
      background: var(--color-neutral-200);
      color: var(--color-neutral-600);
    }
  }


  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}